data_test/training_data/*
!data_test/training_data/3J70D_3J70P_ProstT5_data.pt
!data_test/training_data/3QILA_3QILC_ProstT5_data.pt
!data_test/training_data/2XU7A_6G16A_ProstT5_data.pt
!data_test/training_data/1PP7U_1PP8M_ProstT5_data.pt
!data_test/training_data/4C8VA_4C8WI_ProstT5_data.pt
!data_test/training_data/6TB9A4_6TB9A5_ProstT5_data.pt
!data_test/training_data/5GKEA_5GKEA_ProstT5_data.pt
!data_test/training_data/2KIXA_6PVTA_ProstT5_data.pt
!data_test/training_data/5UZ9A_6NE0A_ProstT5_data.pt
!data_test/training_data/5SUPA_7LUVM_ProstT5_data.pt
data_test/pdb_dance

seamoon/__pycache__/
seamoon/data/__pycache__
seamoon/eval/__pycache__
seamoon/model/__pycache__
seamoon/torque/__pycache__
seamoon/training/__pycache__
seamoon/utils/__pycache__

prediction
logs